.code-container {
    max-width: 40%;
    margin: auto;
    background-color: #282828;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    color: white;
    text-align: center;
    margin-left:30px;
    margin-top:120px;
    height:auto;
    border: 2px solid #F96024;
}

.code-title {
    font-size: 24px;
    font-weight: bold;
    color: #FBBD13;
    margin-bottom: 10px;
}

.poc-name {
    font-size: 18px;
    font-weight: bold;
    color: #F96024;
    margin-bottom: 15px;
}

.code-block {
    background-color: #1e1e1e;
    padding: 15px;
    border-radius: 8px;
    overflow-x: auto;
    font-size: 14px;
    text-align: left;
    font-family: "Courier New", monospace;
}

.code-line {
    display: flex;
    align-items: center;
}

.line-number {
    color: #F96024;
    font-weight: bold;
    margin-right: 10px;
    min-width: 30px;
    text-align: right;
}

.code-text {
    color: #FBBD13;
}

.nav-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.nav-button {
    background-color: #F96024;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.nav-button:hover {
    background-color: #d84e20;
}

.nav-button:disabled {
    background-color: #555;
    cursor: not-allowed;
    opacity: 0.6;
}
